body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 50px;
    border-radius: 15px; /* Adiciona arredondamento ao contêiner */
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}

h1, h2 {
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 8px; /* Adiciona arredondamento aos campos de entrada */
    border: 1px solid #ccc;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px 15px;
    color: #fff;
    background-color: #007bff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    width: 100%;
    border-radius: 8px; /* Adiciona arredondamento aos botões */
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #e9ecef;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px; /* Adiciona arredondamento aos itens da lista */
}

li button {
    padding: 5px 10px;
    background-color: #dc3545;
    border: none;
    cursor: pointer;
    border-radius: 8px; /* Adiciona arredondamento aos botões dentro da lista */
}

li button:hover {
    background-color: #c82333;
}
